.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1.5px solid rgb(177 198 233);
}

.title-text {
  font-family: "Poppins", sans-serif;
  color: #0e1c30;
  font-size: 23px;
  padding: 10px;
}

.title-profile-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: scale-down;
  background-color: #f5f5f5;
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.26) 0px 3px 8px;
}

#title-edit-pencil {
  color: #e2ecfa;
}

.title:hover #title-edit-pencil {
  color: inherit;
}
