.flex {
  display: flex;
  align-items: center;
}

.todo {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  cursor: pointer;
  filter: grayscale(50%);
}

input[type="checkbox"] + .todo-context {
  font-weight: 500;
  color: #162c4f;
  font-size: 13.5px;
  font-family: "Poppins", sans-serif;
  margin-left: 10px;
}

input[type="checkbox"]:checked + .todo-context {
  color: #87aade;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  margin-left: 10px;
}

.todo .todo-context-time-container {
  display: none;
}
.todo:hover .todo-context-time-container {
  display: flex;
  align-items: center;
  font-size: 10px;
}

.todo-context-time {
  margin-left: 3px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
input + .pencil {
  height: 19px;
  margin: 3px;
  padding: 7px;
  border-radius: 50%;
  cursor: pointer;
}
input:hover + .pencil {
  color: #91bfff;
}
input:checked + .pencil {
  color: white;
  background-color: #3268b6;
}

.todo-mod-btn {
  height: 35px;
  width: 35px;
  margin: 1px;
  background-color: #e2ecfa;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
}
.edit-btn::after {
  color: white;
  background-color: #3268b6;
}
.delete-btn:hover {
  color: white;
  background-color: rgb(221, 69, 69);
}
